
/* 
    Created on : Sep 22, 2015, 11:42:53 AM
    Author     : Putera Kahfi <pkahfi at dwebsite.net>
*/

body{
    font-family: "open sans";
}
.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}
/** 
background colors 
**/
.bg-gray{
   background:  #ECECEC;
}
